<form action="/data" method = "POST">
    <p>Our Estimated Price <input type = "text" name = "est_price" /></p>
    <p>Owner Expected Price <input type = "text" name = "own_exp_price" /></p>
    <p>Actual Sold Price <input type = "text" name = "act_sold_price" /></p>
    <p>Last Sold Price <input type = "text" name = "last_sold_price" /></p>
    <p>Years Since Last Bought <input type = "text" name = "years_since_last_bought" /></p>
    <p>Listing Web Link <input type = "text" name = "listing_web_link" /></p>
    <p>Bedrooms <input type = "text" name = "no_bedrooms" /></p>
    <p>Study? <input type = "text" name = "study" /></p>
    <p>Living Areas <input type = "text" name = "living_areas" /></p>
    <p>Pool? <input type = "text" name = "pool" /></p>
    <p>Bedrooms <input type = "text" name = "no_bedrooms" /></p>
    <p>Land Size <input type = "text" name = "land_size" /></p>
    <p>Whats Our Rating (out of 5) <input type = "text" name = "rating" /></p>
    <p>Bedrooms <input type = "text" name = "no_bedrooms" /></p>
    <p>Suburb <input type = "text" name = "suburb" /></p>
    <p><input type = "submit" value = "Submit" /></p>
</form>